#controlButtons {
    margin-top: 10px;
    margin-bottom: 20px;
}

#imageWidth, #imageHeight {
    width: 100px;
    padding: 5px;
}

img {
    display: block;
    margin: 0 auto;
    object-fit: contain; /* Keeps aspect ratio intact */
}
